<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Youtube clone</span>
        <span class="example-spacer">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>videocall</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>accountcircle</mat-icon>
        </button>
    </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
